<h3>Add Task</h3>
<form method="post" action="/task/add">
  <label>Add Tasks</label>
  <input type="text" name="task" placeholder="Add Task">
  <input type="submit" value="Submit">
</form>

<h4>
  <%= title %>
</h4>
<ul>
<% tasks.forEach(function(task){ %>
    <li><%=task%> </li>
<% }) %>
</ul>
